.reactions {
    display: flex;
    align-items: center;
    button {
        color: #b9bbbe;
        padding: 0.2rem;
        margin: 0 0.5rem;
        border-radius: 50%;
        outline: none;
        border: none;
        background-color: transparent;
        display: block;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover {
            background-color: #e5e5e5;
            cursor: pointer;
        }
    }
    ul {
        padding: 0 0.5rem;
        margin-right: 0.5rem;
        list-style: none;
        background-color: #ffffff;
        border-radius: 3rem;
        box-shadow: 0 12px 28px 0 rgba(0, 0, 0, 0.1),
            0 2px 4px 0 rgba(0, 0, 0, 0.1), inset 0 0 0 1px rgba(0, 0, 0, 0.1);
        display: flex;
        li {
            display: block;
            margin: 0 0.2rem;
            padding: 0.4rem 0;
            cursor: pointer;
            transition: transform 0.3s ease;
            &:hover {
                transform: scale(1.5);
            }
        }
    }
}
