.messages {
    width: calc(100vw - 100px);
    height: 100vh;
    display: flex;
    flex-direction: column;
    &__main {
        flex: 1;
        padding: 1rem;
        overflow-y: scroll;
        display: flex;
        flex-direction: column-reverse;
        position: relative;
        -ms-overflow-style: none;
        scrollbar-width: none;
        &::-webkit-scrollbar {
            display: none;
        }
        &__loader {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        &__content {
            width: 100%;
            align-self: flex-end;
            margin: auto;
        }
    }
}
