.messages {
    width: calc(100vw - 100px);
    height: 100vh;
    display: flex;
    flex-direction: column;
    &__main {
        height: calc(100vh - 117.19px);
        flex: 1;
        padding: 1rem;
        overflow-y: scroll;
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-start;
        position: relative;
        -ms-overflow-style: none;
        scrollbar-width: none;
        &::-webkit-scrollbar {
            display: none;
        }
        &__loader {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        &__content {
            width: 100%;
            align-self: flex-end;
            &__intro {
                font-size: 13px;
                color: #65676b;
                display: flex;
                justify-content: center;
                text-align: center;
            }
        }
    }
}
